#outer {
    border: 2px solid black;
    background-color:red;
    height:200px;
    width:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#inner{
    height:100px;
    width:100px;
    background-color:black;
    border: 2px solid black;

}