body{
    text-align : center;
}

div {
    height:100px;
    width:100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width:800px;
    height:800px;
    display:flex;
    flex-direction : column;
    /* flex-direction : row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; 
    
    justify-content:flex-start;
    justify-content:flex-end;*/
    justify-content: center ;
    justify-content: space-around ;/* in space around space between flex items will be double the space between the first item and border(left and right)*/
    justify-content: space-between; 
    justify-content: space-evenly; 
    /* For Column These all are valid, just write flex-direction : column; */
    



    
}

#box1{
    background-color:aqua;
}

#box2{
    background-color:pink;
}

#box3{
    background-color:darkkhaki;
}

#box4{
    background-color:indianred;
}

#box5{
    background-color: slateblue;
}