*{
    padding: 0;
    margin: 0;
    color:white;
}

#logo{
    font-size:25px;
    color:#f08804;
}

#navbar{
    border-style:solid;
    height:60px;
    background-color :black;
}

button{
    background-color:#f08804;
}

a{
    margin-right:200px;
    text-decoration:none;
}

.contentbox{
    height:100px;
    width:100px;
    border:2px solid black;
}

#h1{
    background-color: rgba(255, 0, 0, 0.5);
    display:inline-block;
}

#h2{
    background-color: rgba(0, 255, 0, 0.5);
    display:inline-block;
}

#h3{
    background-color: rgba(0, 0, 255, 0.5);
    display:inline-block;
}

#content{
    height:830px;
}
footer{
    background-color:black;
    color:white;
    text-align:center;
}