h1{
    color:green;
}

p{
    color: blue
}

button{
    color:red;
}

body{
    background-color : black;
}

button{
    background-color:grey
}
/*We can simply put color and background color in same {}*/
button {
    color:pink; /*This will override mathiko*/
    background-color:red; /*This will override mathiko*/
}