div{
    height : 100px;
    width : 100px;
    background-color:red;
    position:absolute;
    top:100px;
    left:100px;
    animation-name:myfirstanimation;
    animation-duration: 2.5s;
    /* animation-timing-function : ease-in; */
    /* animation-delay:1s; */
    animation-iteration-count: infinite;
    animation-direction:reverse;
    animation-direction:alternate;
}


/* @keyframes myfirstanimation {
    from{background-color:red;}
    to{background-color:blue;}
} */

@keyframes myfirstanimation {
    from{
        left:0px;
        background-color:red;
        color:black
        
        
    
    }
    to{left:190px;
    background-color:blue;
    color:white;
    
}
}